
body {
    font-family: "Montserrat";
    color: #ffffff;
    font-size: 56px;
    position: relative;
    height: 100vh;
}

#container {
    background-image: linear-gradient(
        to right,
        rgba(73, 222, 248, 0.7),
        rgba(0, 153, 255, 0.7)), 
    url(assets/skyBackground.jpg);
    background-size: 100%;
    position: relative;
    height: 100vh;
}

#weatherContainer {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;

}

#response {
    animation-name: moveInLeft;
    animation-duration: 2s;
}

@keyframes moveInLeft {
    0% {
         opacity: 0;
         transform: translateX(-100px);
    }
    80% {
        transform: translateX(10px);
    }
    100% {
         opacity: 1;
         transform: translate(0);
    }
 }
